<div id="<%= dom_id timezone %>">
  <p>
    <strong>Utc offset:</strong>
    <%= timezone.utc_offset %>
  </p>

  <p>
    <strong>Is dst:</strong>
    <%= timezone.is_dst %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= timezone.name %>
  </p>

</div>
