<h1>New individual</h1>

<%= render "form", individual: @individual %>

<br>

<div>
  <%= link_to "Back to individuals", individuals_path %>
</div>

<%= javascript_tag do %>
  window.addEventListener('turbo:load', function () {
    var item1 = new autoComplete({
        selector: '#individual_tz',
        minChars: 2,
        source: function(term, suggest){
            term = term.toLowerCase();
            var choices = <%= raw @timezone_names %>;
            var suggestions = [];
            for (i=0;i<choices.length;i++)
                if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
            suggest(suggestions);
        }
    });
    alert("It's loaded!")
  })
<% end %>


